@font-face {
    font-family: "Nevis";
    src: url("fonts/Nevis/NevisBold-KGwl.ttf") format("truetype");
  }

h3, h5 {
    font-family: Nevis;
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    font-family: Nevis;
    padding-top: 10px;
    text-align: center;
}

.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.card__content {
    line-height: 1.5;
    font-size: 0.7em;
    padding: 10px;
    background: #fafafa;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    font-weight: bold;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    background: #0a3d62;
    font-size: 0.5em;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}
