@font-face {
  font-family: "Baguette";
  src: url("fonts/Baguette/Baguette.ttf") format("truetype");
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Baguette', sans-serif;
    box-sizing: border-box;
    background-color: #F9EBEB;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.border {
  width: 180px;
  height: 4px;
  background: #000;
  margin: 25px auto;
}

.gallery-section h1{
  text-align: center;
  color: #000;
  }

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  }

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: default;
  padding: 5px;
  }
  
.gallery-section .image img{
  width: 100%;
  height: 100%;
  }

.gallery-section img:hover {
  -webkit-transform: scale(1.1, 1.1);
   transform: scale(1.1, 1.1);
  
    }
  
  @media screen and (max-width:960px) {
    .gallery-section .image{
      flex: 33.33%;
    }
  }
  
  @media screen and (max-width:768px) {
    .gallery-section .image{
      flex: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .gallery-section .image{
      flex: 100%;
    }
  }
  