@font-face {
  font-family: "Baguette";
  src: url("../fonts/Baguette/Baguette.ttf") format("truetype");
}

@font-face {
  font-family: "Nevis";
  src: url("../fonts/Nevis/NevisBold-KGwl.ttf") format("truetype");
}

body {
  font-family: 'Baguette';
  font-size: 21px;
  background-color: #F9EBEB;
  font-weight: bold;
}

header {
  padding: 25px 0;
  text-align: center;
  color: #000
}


/*Navigation Start*/
header,
nav {
  margin: 10px 0;
}

header {
  background-color: #F9EBEB;
}

a{
  text-decoration: none;
  color: #000;
}
a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}
a:link {
  color: #000;
}
a:active, a:hover{
  color: #000;
}

.border{
  width: 180px;
  height: 4px;
  background: #000;
  margin: 25px auto;
}

nav li {
  background-color: #FED330;
  opacity: 0.9;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/*Navigation End*/

/*Main Content*/

.container-main{
  min-height: 400px;
  background: white url(../img/main-image.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container-nav {
  display: grid;
  grid-gap: 5px;
}

.main-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: Nevis;
  padding-top: 30px;
  text-align: center;
}

.main-cards * {
  box-sizing: border-box;
}


.card__content {
  line-height: 1.5;
  font-size: 0.7em;
  padding: 10px;
  background: #fafafa;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  font-weight: bold;
  font-family: Nevis;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  background: #0a3d62;
  font-size: 0.5em;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.main-card__link {
  color: #64968c;
  text-decoration: none;
}

.main-card__link:hover {
  text-decoration: underline;
}

.contact-text {
  padding-top: 21%;
}


#hiring {
  display: grid;
  background-color: #ff3f34;
  color: #FFF;
  border-radius: 2px;
}

#contact {
  grid-column: 2 / span 4;
  background-image: url(../img/special.jpg);
  color: #FFF;
  text-align: left;
  border-radius: 2px;
}

#food_cards {

display: grid;  
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

/*Main Content End*/

/*Footer Start */


.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #000;
  font-family: Nevis;
  padding-left: 10%;
  margin-top: 0.5%;
}

.col a{
  color: #FFF
}


.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.copyright{
    background-color: #000;
    font-family: Nevis;
    color: #FFF;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 50px;
    font-size: 15px;
}
.clearfix {
  clear: both;
}

/*Footer End*/

@media screen and (min-width: 600px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .container-nav {
    grid-auto-flow: column;
  }
  
}
@media screen and (min-width: 900px) {
  .container-main {
    grid-auto-flow: column;
  }
}

